.table{
  padding: 0;
  margin-bottom: 40px;
  width: 393px;
  border-spacing: 5px;
  &:nth-last-of-type(2){
    margin-right: 160px;
  }

  &__left{
    width: 257px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #99A6B9;
    mix-blend-mode: normal;
    margin: 0 0 10px 0;
  }

  &__right{
    width: 136px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #002051;
    mix-blend-mode: normal;
    margin: 0 0 10px 0;
  }
}