.footer{
  display: flex;
  background: #002051;

  &__wrapper{
    flex-direction: column;
    margin: 87px 419px 88px 201px;

    &_row {
      flex-direction: row;
    }
  }

  &__title{
    margin: 0 0 28px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  &__paragraph{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 0 32px 0;
  }

  &__form{
    width: 820px;
    margin-bottom: 100px;
  }

  &__span{
    margin-left: 424px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #99A6B9;
  }

  &__input{
    width: 396px;
    height: fit-content;
    background: transparent;
    border: none;
    border-bottom: 1px solid #99A6B9;
    margin: 5px 0 0 0;
    &:nth-last-of-type(1){
      margin: 5px 0 0 28px;
    }
    &::placeholder{
      color: #99A6B9;
    }
    &_white{
      &::placeholder{
        color: #FFFFFF;
      }
    }
  }

  &__button{
    width: 820px;
    height: 50px;
    left: 201px;
    top: 320px;
    background: #FFFFFF;
    border-radius: 2px;
    border: #002051;
  }
}